:root {
  --controls-height: 100px;
  --highlight: #97dfdb;
  --actives: #52b68e;
  --actives-highlight: #9ed4be;
}

body {
  background-color: cornsilk;
  margin: 0px;
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

@font-face {
  font-family: pixelMx;
  src: url(./pixelmix.ttf)
}

#editor-container, body.presenting > #present-container {
  display: block;
}

#present-container, body.presenting > #editor-container {
  display: none;
}

#present-canvas {
  position: absolute;
  background-color: #5ec97f;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}