:root {
  --controls-height: 100px;
  --highlight: #97dfdb;
  --actives: #52b68e;
  --actives-highlight: #9ed4be;
}

body {
  background-color: cornsilk;
  margin: 0px;
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

@font-face {
  font-family: pixelMx;
  src: url(./pixelmix.ttf)
}